[global]
    netbios name = DC1
    workgroup = ${SAMBA_DOMAIN}
    realm = ${SAMBA_REALM}
    server role = active directory domain controller
    dns backend = SAMBA_INTERNAL
    idmap_ldb:use rfc2307 = yes

    # TLS / LDAPS Configuration
    tls enabled = yes
    tls keyfile = /var/lib/samba/private/tls/ldap.key
    tls certfile = /var/lib/samba/private/tls/ldap.crt
    tls cafile = /var/lib/samba/private/tls/TestRootCA.crt

    # Test environment tuning
    nsupdate command = /bin/true
    log level = 1 auth_audit:3

[sysvol]
    path = /var/lib/samba/sysvol
    read only = no

[netlogon]
    path = /var/lib/samba/sysvol/${SAMBA_REALM}/scripts
    read only = no
